/* SupprimerJoueur.css */

.delete-form {
    margin-top: 20px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #28242c;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #28242c;
  }
  
  .message {
    margin-top: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  